<h1>Create Key</h1>
<form action="/new" method="POST">
  Key:<input type="text" name="key"></input><br>
  Info1:<input type="text" name="info1"></input><br>
  <input type="submit"></input>
</form>

<h1>Add second info to a key (PATCH)</h1>
<form action="/update" method="POST">
  <input type="hidden" name="_method" value="PATCH"></input>
  Key:<input type="text" name="key"></input><br>
  Info2:<input type="text" name="info"></input>
  <input type="submit"></input>
</form>

<h1>Get Key by ID</h1>
<form action="/get_id" method="GET">
  Key:<input type="text" name="key"></input><br>
  <input type="submit"></input>
</form>

<h1>List of Open Simuls</h1>
{% for item in items %}
  <h2>Key: {{ item.key }} </h2>
{% endfor %}

<h1>List of Completed Simuls</h1>
{% for item in compitems %}
  <h2>Key: {{ item.key }} </h2>
  <p>Info1: {{ item.info1 }} <p>
  <p>Info2: {{ item.info2 }} <p>
{% endfor %}
